<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
    <title>Hello Electron React!</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
